--
-- PostgreSQL database dump
--

-- Dumped from database version 13.3
-- Dumped by pg_dump version 13.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: validate_best_bets(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_best_bets(p_season_id integer) RETURNS TABLE(validated_count integer, hits integer, misses integer)
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_validated INTEGER := 0;

    v_hits INTEGER := 0;

    v_misses INTEGER := 0;

    rec RECORD;

BEGIN

    -- Iterar sobre best bets pendientes de validaci├│n

    FOR rec IN 

        SELECT 

            bbh.id,

            bbh.match_id,

            bbh.bet_type,

            bbh.prediction,

            m.home_goals,

            m.away_goals

        FROM best_bets_history bbh

        JOIN matches m ON m.id = bbh.match_id

        WHERE bbh.season_id = p_season_id

          AND bbh.validated_at IS NULL

          AND m.home_goals IS NOT NULL

          AND m.away_goals IS NOT NULL

    LOOP

        DECLARE

            v_actual_result VARCHAR(20);

            v_is_hit BOOLEAN := FALSE;

        BEGIN

            -- Determinar resultado real seg├║n tipo de apuesta

            IF rec.bet_type = '1X2' THEN

                v_actual_result := CASE 

                    WHEN rec.home_goals > rec.away_goals THEN '1'

                    WHEN rec.home_goals < rec.away_goals THEN '2'

                    ELSE 'X'

                END;

                v_is_hit := (rec.prediction = v_actual_result);

                

            ELSIF rec.bet_type = 'OVER_25' THEN

                v_actual_result := CASE 

                    WHEN (rec.home_goals + rec.away_goals) >= 3 THEN 'OVER'

                    ELSE 'UNDER'

                END;

                v_is_hit := (rec.prediction = v_actual_result);

                

            ELSIF rec.bet_type = 'BTTS' THEN

                v_actual_result := CASE 

                    WHEN rec.home_goals > 0 AND rec.away_goals > 0 THEN 'YES'

                    ELSE 'NO'

                END;

                v_is_hit := (rec.prediction = v_actual_result);

            END IF;

            

            -- Actualizar registro

            UPDATE best_bets_history

            SET 

                actual_result = v_actual_result,

                hit = v_is_hit,

                validated_at = NOW()

            WHERE id = rec.id;

            

            v_validated := v_validated + 1;

            IF v_is_hit THEN

                v_hits := v_hits + 1;

            ELSE

                v_misses := v_misses + 1;

            END IF;

        END;

    END LOOP;

    

    RETURN QUERY SELECT v_validated, v_hits, v_misses;

END;

$$;


ALTER FUNCTION public.validate_best_bets(p_season_id integer) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: best_bets_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.best_bets_history (
    id integer NOT NULL,
    match_id integer NOT NULL,
    season_id integer NOT NULL,
    date date NOT NULL,
    home_team character varying(100) NOT NULL,
    away_team character varying(100) NOT NULL,
    model character varying(20) NOT NULL,
    bet_type character varying(20) NOT NULL,
    prediction character varying(50) NOT NULL,
    confidence numeric(8,2) NOT NULL,
    historical_accuracy numeric(8,2) NOT NULL,
    combined_score numeric(8,2) NOT NULL,
    rank integer NOT NULL,
    odds numeric(6,3),
    hit boolean,
    validated_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    profit_loss numeric(10,2)
);


ALTER TABLE public.best_bets_history OWNER TO postgres;

--
-- Name: best_bets_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.best_bets_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.best_bets_history_id_seq OWNER TO postgres;

--
-- Name: best_bets_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.best_bets_history_id_seq OWNED BY public.best_bets_history.id;


--
-- Name: matches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matches (
    id integer NOT NULL,
    season_id integer,
    date date NOT NULL,
    home_team_id integer,
    away_team_id integer,
    home_goals integer,
    away_goals integer,
    fulltime_result character varying(100),
    halftime_homegoal integer,
    halftime_awaygoal integer,
    halftime_result character varying(100),
    referee character varying(100)
);


ALTER TABLE public.matches OWNER TO postgres;

--
-- Name: best_bets_with_results; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.best_bets_with_results AS
 SELECT bbh.id,
    bbh.match_id,
    bbh.season_id,
    bbh.date,
    bbh.home_team,
    bbh.away_team,
    bbh.model,
    bbh.bet_type,
    bbh.prediction,
    bbh.confidence,
    bbh.historical_accuracy,
    bbh.combined_score,
    bbh.rank,
    bbh.odds,
    bbh.hit,
    bbh.profit_loss,
    bbh.created_at,
    bbh.validated_at,
    m.home_goals,
    m.away_goals
   FROM (public.best_bets_history bbh
     LEFT JOIN public.matches m ON ((m.id = bbh.match_id)));


ALTER TABLE public.best_bets_with_results OWNER TO postgres;

--
-- Name: betting_lines_predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.betting_lines_predictions (
    id integer NOT NULL,
    match_id integer NOT NULL,
    model character varying(50) NOT NULL,
    predicted_total_shots numeric(10,2),
    shots_line numeric(10,1) DEFAULT 24.5,
    shots_prediction character varying(10),
    shots_confidence numeric(5,2),
    actual_total_shots integer,
    shots_hit boolean,
    predicted_total_shots_on_target numeric(10,2),
    shots_on_target_line numeric(10,1) DEFAULT 8.5,
    shots_on_target_prediction character varying(10),
    shots_on_target_confidence numeric(5,2),
    actual_total_shots_on_target integer,
    shots_on_target_hit boolean,
    predicted_total_corners numeric(10,2),
    corners_line numeric(10,1) DEFAULT 10.5,
    corners_prediction character varying(10),
    corners_confidence numeric(5,2),
    actual_total_corners integer,
    corners_hit boolean,
    predicted_total_cards numeric(10,2),
    cards_line numeric(10,1) DEFAULT 4.5,
    cards_prediction character varying(10),
    cards_confidence numeric(5,2),
    actual_total_cards integer,
    cards_hit boolean,
    predicted_total_fouls numeric(10,2),
    fouls_line numeric(10,1) DEFAULT 22.5,
    fouls_prediction character varying(10),
    fouls_confidence numeric(5,2),
    actual_total_fouls integer,
    fouls_hit boolean,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.betting_lines_predictions OWNER TO postgres;

--
-- Name: TABLE betting_lines_predictions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.betting_lines_predictions IS 'Predicciones de l├¡neas de apuesta (over/under) para estad├¡sticas del partido';


--
-- Name: COLUMN betting_lines_predictions.shots_line; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.betting_lines_predictions.shots_line IS 'L├¡nea de apuesta para tiros totales (ej: 24.5 significa Over 24.5 / Under 24.5)';


--
-- Name: COLUMN betting_lines_predictions.shots_confidence; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.betting_lines_predictions.shots_confidence IS 'Confianza en la predicci├│n: qu├® tan lejos est├í del umbral (0=justo en la l├¡nea, 1=muy seguro)';


--
-- Name: betting_lines_predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.betting_lines_predictions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.betting_lines_predictions_id_seq OWNER TO postgres;

--
-- Name: betting_lines_predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.betting_lines_predictions_id_seq OWNED BY public.betting_lines_predictions.id;


--
-- Name: leagues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leagues (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    country character varying(100) NOT NULL
);


ALTER TABLE public.leagues OWNER TO postgres;

--
-- Name: leagues_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leagues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.leagues_id_seq OWNER TO postgres;

--
-- Name: leagues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leagues_id_seq OWNED BY public.leagues.id;


--
-- Name: match_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.match_stats (
    match_id integer NOT NULL,
    home_shots integer,
    away_shots integer,
    home_shots_on_target integer,
    away_shots_on_target integer,
    home_fouls integer,
    away_fouls integer,
    home_corners integer,
    away_corners integer,
    home_yellow_cards integer,
    away_yellow_cards integer,
    home_red_cards integer,
    away_red_cards integer,
    total_goals integer,
    total_corners integer,
    total_shots integer,
    total_shots_on_target integer,
    total_fouls integer,
    total_cardshome integer,
    total_cardsaway integer,
    total_cards integer
);


ALTER TABLE public.match_stats OWNER TO postgres;

--
-- Name: matches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.matches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.matches_id_seq OWNER TO postgres;

--
-- Name: matches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.matches_id_seq OWNED BY public.matches.id;


--
-- Name: poisson_predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.poisson_predictions (
    match_id integer NOT NULL,
    expected_home_goals double precision,
    expected_away_goals double precision,
    prob_home_win double precision,
    prob_draw double precision,
    prob_away_win double precision,
    over_2 double precision,
    under_2 double precision,
    both_score double precision,
    both_noscore double precision,
    min_odds_1 numeric,
    min_odds_x numeric,
    min_odds_2 numeric,
    min_odds_over25 numeric,
    min_odds_under25 numeric,
    min_odds_btts_yes numeric,
    min_odds_btts_no numeric
);


ALTER TABLE public.poisson_predictions OWNER TO postgres;

--
-- Name: prediction_outcomes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prediction_outcomes (
    match_id integer NOT NULL,
    model text NOT NULL,
    pick_1x2 character varying(1),
    hit_1x2 boolean,
    pick_over25 character varying(6),
    hit_over25 boolean,
    pick_btts character varying(3),
    hit_btts boolean,
    abs_err_home_goals double precision,
    abs_err_away_goals double precision,
    rmse_goals double precision,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT prediction_outcomes_model_check CHECK ((model = ANY (ARRAY['poisson'::text, 'weinston'::text])))
);


ALTER TABLE public.prediction_outcomes OWNER TO postgres;

--
-- Name: seasons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seasons (
    id integer NOT NULL,
    league_id integer,
    year_start integer NOT NULL,
    year_end integer NOT NULL,
    start_date character varying(100),
    end_date character varying(100),
    champion character varying(100)
);


ALTER TABLE public.seasons OWNER TO postgres;

--
-- Name: seasons_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.seasons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.seasons_id_seq OWNER TO postgres;

--
-- Name: seasons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.seasons_id_seq OWNED BY public.seasons.id;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    league_id integer,
    status character varying(100)
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Name: teams_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.teams_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teams_id_seq OWNER TO postgres;

--
-- Name: teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.teams_id_seq OWNED BY public.teams.id;


--
-- Name: weinston_baseline_all; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.weinston_baseline_all AS
 WITH perf AS (
         SELECT m.season_id,
            m.home_team_id AS team_id,
            m.home_goals AS g_for,
            ms.home_shots AS shots,
            ms.home_shots_on_target AS sot,
            ms.home_fouls AS fouls,
            ms.home_corners AS corners,
            (ms.home_yellow_cards + COALESCE(ms.home_red_cards, 0)) AS cards
           FROM (public.matches m
             LEFT JOIN public.match_stats ms ON ((ms.match_id = m.id)))
        UNION ALL
         SELECT m.season_id,
            m.away_team_id AS team_id,
            m.away_goals AS g_for,
            ms.away_shots AS shots,
            ms.away_shots_on_target AS sot,
            ms.away_fouls AS fouls,
            ms.away_corners AS corners,
            (ms.away_yellow_cards + COALESCE(ms.away_red_cards, 0)) AS cards
           FROM (public.matches m
             LEFT JOIN public.match_stats ms ON ((ms.match_id = m.id)))
        )
 SELECT perf.season_id,
    perf.team_id,
    (avg(perf.g_for))::double precision AS g_for_pg,
    (avg(perf.shots))::double precision AS shots_pg,
    (avg(perf.sot))::double precision AS sot_pg,
    (avg(perf.fouls))::double precision AS fouls_pg,
    (avg(perf.corners))::double precision AS corn_pg,
    (avg(perf.cards))::double precision AS cards_pg
   FROM perf
  GROUP BY perf.season_id, perf.team_id;


ALTER TABLE public.weinston_baseline_all OWNER TO postgres;

--
-- Name: weinston_params; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weinston_params (
    season_id integer NOT NULL,
    mu_home numeric,
    mu_away numeric,
    home_adv numeric,
    loss numeric,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.weinston_params OWNER TO postgres;

--
-- Name: weinston_predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weinston_predictions (
    match_id integer NOT NULL,
    local_goals double precision,
    away_goals double precision,
    error double precision,
    result_1x2 integer,
    over_2 character varying(100),
    both_score character varying(100),
    shots_home double precision,
    shots_away double precision,
    shots_target_home double precision,
    shots_target_away double precision,
    fouls_home double precision,
    fouls_away double precision,
    cards_home double precision,
    cards_away double precision,
    corners_home double precision,
    corners_away double precision,
    win_corners character varying(100),
    prob_over_25 numeric(5,4) DEFAULT NULL::numeric,
    prob_btts numeric(5,4) DEFAULT NULL::numeric,
    prob_home_win numeric(5,4) DEFAULT NULL::numeric,
    prob_draw numeric(5,4) DEFAULT NULL::numeric,
    prob_away_win numeric(5,4) DEFAULT NULL::numeric
);


ALTER TABLE public.weinston_predictions OWNER TO postgres;

--
-- Name: COLUMN weinston_predictions.prob_over_25; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.weinston_predictions.prob_over_25 IS 'Probabilidad de Over 2.5 goles (0.0 a 1.0)';


--
-- Name: COLUMN weinston_predictions.prob_btts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.weinston_predictions.prob_btts IS 'Probabilidad de BTTS - Both Teams To Score (0.0 a 1.0)';


--
-- Name: COLUMN weinston_predictions.prob_home_win; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.weinston_predictions.prob_home_win IS 'Probabilidad de victoria local (0.0 a 1.0)';


--
-- Name: COLUMN weinston_predictions.prob_draw; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.weinston_predictions.prob_draw IS 'Probabilidad de empate (0.0 a 1.0)';


--
-- Name: COLUMN weinston_predictions.prob_away_win; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.weinston_predictions.prob_away_win IS 'Probabilidad de victoria visitante (0.0 a 1.0)';


--
-- Name: weinston_ratings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weinston_ratings (
    season_id integer NOT NULL,
    team_id integer NOT NULL,
    atk_home numeric,
    def_home numeric,
    atk_away numeric,
    def_away numeric,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.weinston_ratings OWNER TO postgres;

--
-- Name: best_bets_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.best_bets_history ALTER COLUMN id SET DEFAULT nextval('public.best_bets_history_id_seq'::regclass);


--
-- Name: betting_lines_predictions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.betting_lines_predictions ALTER COLUMN id SET DEFAULT nextval('public.betting_lines_predictions_id_seq'::regclass);


--
-- Name: leagues id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leagues ALTER COLUMN id SET DEFAULT nextval('public.leagues_id_seq'::regclass);


--
-- Name: matches id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches ALTER COLUMN id SET DEFAULT nextval('public.matches_id_seq'::regclass);


--
-- Name: seasons id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seasons ALTER COLUMN id SET DEFAULT nextval('public.seasons_id_seq'::regclass);


--
-- Name: teams id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams ALTER COLUMN id SET DEFAULT nextval('public.teams_id_seq'::regclass);


--
-- Data for Name: best_bets_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: betting_lines_predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: leagues; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.leagues (id, name, country) FROM stdin;
1	Premier League	England
2	La Liga	Spain
3	Serie A	Italy
4	Bundesliga	Germany
5	Liga Betplay	Colombia
6	Liga Argentina	Argentina
7	Brasileirao	Brasil
\.


--
-- Data for Name: match_stats; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: poisson_predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prediction_outcomes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: seasons; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weinston_params; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.weinston_params (season_id, mu_home, mu_away, home_adv, loss, updated_at) FROM stdin;
1	1.2076263343243339	1.4275248776569651	1.258142061163115	596.5430005630203	2025-08-12 21:45:22.897262
2	1.3484715030537002	1.4651596615246587	1.4016723011715733	143.8166816164299	2025-11-11 08:35:19.208523
\.


--
-- Data for Name: weinston_predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: weinston_ratings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: best_bets_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.best_bets_history_id_seq', 88, true);


--
-- Name: betting_lines_predictions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.betting_lines_predictions_id_seq', 30, true);


--
-- Name: leagues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leagues_id_seq', 8, false);


--
-- Name: matches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.matches_id_seq', 5120, true);


--
-- Name: seasons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.seasons_id_seq', 2, true);


--
-- Name: teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.teams_id_seq', 38, true);


--
-- Name: best_bets_history best_bets_history_match_id_model_bet_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.best_bets_history
    ADD CONSTRAINT best_bets_history_match_id_model_bet_type_key UNIQUE (match_id, model, bet_type);


--
-- Name: best_bets_history best_bets_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.best_bets_history
    ADD CONSTRAINT best_bets_history_pkey PRIMARY KEY (id);


--
-- Name: betting_lines_predictions betting_lines_predictions_match_id_model_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.betting_lines_predictions
    ADD CONSTRAINT betting_lines_predictions_match_id_model_key UNIQUE (match_id, model);


--
-- Name: betting_lines_predictions betting_lines_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.betting_lines_predictions
    ADD CONSTRAINT betting_lines_predictions_pkey PRIMARY KEY (id);


--
-- Name: leagues leagues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leagues
    ADD CONSTRAINT leagues_pkey PRIMARY KEY (id);


--
-- Name: match_stats match_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match_stats
    ADD CONSTRAINT match_stats_pkey PRIMARY KEY (match_id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (id);


--
-- Name: poisson_predictions poisson_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.poisson_predictions
    ADD CONSTRAINT poisson_predictions_pkey PRIMARY KEY (match_id);


--
-- Name: prediction_outcomes prediction_outcomes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prediction_outcomes
    ADD CONSTRAINT prediction_outcomes_pkey PRIMARY KEY (match_id, model);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: teams teams_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_name_key UNIQUE (name);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: weinston_ratings ux_weinston_ratings; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weinston_ratings
    ADD CONSTRAINT ux_weinston_ratings UNIQUE (season_id, team_id);


--
-- Name: weinston_params weinston_params_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weinston_params
    ADD CONSTRAINT weinston_params_pkey PRIMARY KEY (season_id);


--
-- Name: weinston_predictions weinston_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weinston_predictions
    ADD CONSTRAINT weinston_predictions_pkey PRIMARY KEY (match_id);


--
-- Name: weinston_ratings weinston_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weinston_ratings
    ADD CONSTRAINT weinston_ratings_pkey PRIMARY KEY (season_id, team_id);


--
-- Name: idx_best_bets_match; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_best_bets_match ON public.best_bets_history USING btree (match_id);


--
-- Name: idx_best_bets_model; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_best_bets_model ON public.best_bets_history USING btree (model);


--
-- Name: idx_best_bets_rank; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_best_bets_rank ON public.best_bets_history USING btree (rank);


--
-- Name: idx_best_bets_season_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_best_bets_season_date ON public.best_bets_history USING btree (season_id, date);


--
-- Name: idx_betting_lines_hits; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_betting_lines_hits ON public.betting_lines_predictions USING btree (shots_hit, shots_on_target_hit, corners_hit, cards_hit, fouls_hit);


--
-- Name: idx_betting_lines_match; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_betting_lines_match ON public.betting_lines_predictions USING btree (match_id);


--
-- Name: idx_betting_lines_model; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_betting_lines_model ON public.betting_lines_predictions USING btree (model);


--
-- Name: betting_lines_predictions betting_lines_predictions_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.betting_lines_predictions
    ADD CONSTRAINT betting_lines_predictions_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(id);


--
-- Name: teams fk_teams_league; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT fk_teams_league FOREIGN KEY (league_id) REFERENCES public.leagues(id);


--
-- Name: match_stats match_stats_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.match_stats
    ADD CONSTRAINT match_stats_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(id);


--
-- Name: matches matches_away_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_away_team_id_fkey FOREIGN KEY (away_team_id) REFERENCES public.teams(id);


--
-- Name: matches matches_home_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_home_team_id_fkey FOREIGN KEY (home_team_id) REFERENCES public.teams(id);


--
-- Name: matches matches_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: poisson_predictions poisson_predictions_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.poisson_predictions
    ADD CONSTRAINT poisson_predictions_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(id);


--
-- Name: seasons seasons_league_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_league_id_fkey FOREIGN KEY (league_id) REFERENCES public.leagues(id);


--
-- Name: weinston_predictions weinston_predictions_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weinston_predictions
    ADD CONSTRAINT weinston_predictions_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(id);


--
-- Name: weinston_ratings weinston_ratings_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weinston_ratings
    ADD CONSTRAINT weinston_ratings_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: app_owner
--

REVOKE ALL ON SCHEMA public FROM postgres;
REVOKE ALL ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO app_owner;
GRANT ALL ON SCHEMA public TO PUBLIC;
GRANT USAGE ON SCHEMA public TO app_user;


--
-- Name: TABLE matches; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.matches TO app_user;


--
-- Name: TABLE leagues; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.leagues TO app_user;


--
-- Name: SEQUENCE leagues_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.leagues_id_seq TO app_user;


--
-- Name: TABLE match_stats; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.match_stats TO app_user;


--
-- Name: SEQUENCE matches_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.matches_id_seq TO app_user;


--
-- Name: TABLE poisson_predictions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.poisson_predictions TO app_user;


--
-- Name: TABLE seasons; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.seasons TO app_user;


--
-- Name: SEQUENCE seasons_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.seasons_id_seq TO app_user;


--
-- Name: TABLE teams; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.teams TO app_user;


--
-- Name: SEQUENCE teams_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.teams_id_seq TO app_user;


--
-- Name: TABLE weinston_predictions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.weinston_predictions TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: app_owner
--

ALTER DEFAULT PRIVILEGES FOR ROLE app_owner IN SCHEMA public REVOKE ALL ON SEQUENCES  FROM app_owner;
ALTER DEFAULT PRIVILEGES FOR ROLE app_owner IN SCHEMA public GRANT ALL ON SEQUENCES  TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: app_owner
--

ALTER DEFAULT PRIVILEGES FOR ROLE app_owner IN SCHEMA public REVOKE ALL ON TABLES  FROM app_owner;
ALTER DEFAULT PRIVILEGES FOR ROLE app_owner IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO app_user;


--
-- PostgreSQL database dump complete
--

